<div class="container-fluid">
        <div class="row">
            </div>
    <form [formGroup]="angForm" novalidate>
            
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <h4 style="color:blue; text-align: center">Doctor Login</h4>
              <hr>
              <div class="form-group form-group-sm">
                <label class="col-md-5">Doctor ID</label>
                <input class="form-control input-sm" type ="number" formControlName="Doctor_ID" #Doctor_ID>
              </div>
              <div *ngIf="angForm.controls['Doctor_ID'].invalid && (angForm.controls['Doctor_ID'].dirty || angForm.controls['Doctor_ID'].touched)"
                class="alert alert-danger">
                <div *ngIf="angForm.controls['Doctor_ID'].errors.required">
                  Doctor ID is required.
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-md-5">Password</label>
                <input type="password" class="form-control input-sm" formControlName="Password" #Password />
              </div>
              <div
                *ngIf="angForm.controls['Password'].invalid && (angForm.controls['Password'].dirty || angForm.controls['Password'].touched)"
                class="alert alert-danger">
                <div *ngIf="angForm.controls['Password'].errors.required">
                  Password is required.
                </div>
              </div>
              <div class="form-group">
                <button (click)="validateDoctor(Doctor_ID.value,Password.value)" type="submit" class="btn btn-primary"
                  [disabled]="angForm.pristine || angForm.invalid">
                  Login
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
        </div>
      </div>
    </form>
  </div>