<div class="container-fluid">
    <div class="row">
        <div class="col-md-auto">
            <div id="sidebar-main" class="sidebar sidebar-default sidebar-separate sidebar-fixed">
                <div class="sidebar-content">
                    <div class="sidebar-category sidebar-default">
                        <div class="category-content">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a routerLink="/appointment" class="nav-link">
                                        Get Appointment
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/donor/create" class="nav-link" routerLinkActive="active">
                                        New Donor
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/donor/login" class="nav-link">
                                        Existing Donor
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-10 ml-auto">
            <div class="container-fluid">
                <ul class="navbar-nav">

                </ul>
            </div>
        </div>
    </div>