<div id="sidebar-main" class="sidebar sidebar-default sidebar-separate sidebar-fixed">
        <div class="sidebar-content">
          <div class="sidebar-category sidebar-default">
            <div class="row">
              <div class="col-md-auto">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a routerLink="/appointment" class="nav-link">
                      <i class="far fa-plus-square" aria-hidden="true"></i>
                      Get Appointment
                    </a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/diagnosis" class="nav-link">
                      <i class="far fa-plus-square" aria-hidden="true"></i>
                      Diagnosis Details
                    </a>
                  </li>
                  <li class="nav-item">
                    <a (click)="onLogout()" class="nav-link">
                      <i class="fas fa-sign-out-alt"></i>
                      Logout
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>