<div class="container-fluid">
        <div class="row">
            <div class="col-md-auto">
                <div id="sidebar-main" class="sidebar sidebar-default sidebar-separate sidebar-fixed">
                    <div class="sidebar-content">
                        <div class="sidebar-category sidebar-default">
                            <div class="category-content">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a routerLink="/appointment" class="nav-link">
                                            Get Appointment
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="/organ/donate" class="nav-link">
                                            Organ Donation
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="/blood/donate" class="nav-link">
                                            Blood Donation
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="/about" class="nav-link">
                                            About Us
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="/contact" class="nav-link">
                                            Contact
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-10 ml-auto">
                About
        </div>
    </div>      