<div class="container-fluid">
    <br>
    <div class="navbar-header w-100 text-center">
        <span class="navbar-brand"
            style="color: blue; font-size:35px; font-family: 'Zapf-Chancery',sans-serif;">Physiotherapy</span>
    </div>
    <hr style="border-top: 2px solid #0011ff;">
    <div class="col-lg-12 col-md-12">
        <div class="tab-content">
            <div class="service_mainconetent" id="invisalign">
                <div class="about_promo_box">
                    <div class="row line-height-2">
                        <div class="col-lg-3 col-md-3">
                            <figure class="figure">
                                <img src="assets/images/physio.jpg" class="figure-img img-fluid rounded"
                                    alt="A generic square placeholder image with rounded corners in a figure.">
                            </figure>
                            <div class="service_sideber">
                                <div class="question_Box">
                                    <h4 class="navbar-header w-100 text-center" style="color: blue;">Mission</h4>
                                    <hr style="border-top: 1px solid #000000;">
                                    <p>The mission of the Department of Physiotherapy at the Keck School of Medicine is
                                        to
                                        reduce the burden of neurological disorders on humankind through research,
                                        education and patient care.
                                    </p>
                                    <a style="color: #003399" routerLink="#about">About</a>
                                    <h6 style="color: #003399">Any Question ? Contact us</h6>
                                    <hr style="border-top: 1px solid #000000;">

                                    <div class="qustion_list">
                                        <ul>
                                            <li><i class="flaticon-telephone5"></i><a href="">+91 0422 2212121 -
                                                    219</a></li>
                                            <li><i class="flaticon-email147"></i><a href="">drgb@HMSgroup.com</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div>
                                <h4 class="navbar-header w-100 text-center text-background-color-grey"
                                    style="color: blue;">Facilities</h4>
                                <hr style="border-top: 1px solid #000000;">
                                <ul class="list-group">
                                        <li class="list-group-item">Occupational Therapy</li>
                                    <li class="list-group-item">Physiotherapy</li>
                                    <li class="list-group-item">Speech &amp; Audiology Therapy</li>
                                    <li class="list-group-item">Cardiac Rehabilitation</li>
                                    <li class="list-group-item">Orthopaedic Physiotherapy</li>
                                    <li class="list-group-item">Sports Medicine Clinic</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4 class="navbar-header w-100 text-center" style="color: blue;">Research
                            </h4>
                            <hr style="border-top: 1px solid #000000;">
                            <p>HMS neurologists constantly seek new knowledge to improve diagnosis and therapies
                                for people with brain and nervous system disorders. You may have an opportunity to be
                                part of one of the clinic's many Physiotherapy-related clinical trials.
                            </p>
                            <p>HMS physician-scientists collaborate with researchers worldwide, contributing to
                                advances in medicine that improve neurological care for people everywhere.</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card">
                    <section class="card-body" style="background-color: burlywood">

                        <h3 class="navbar-header w-100 text-center" style="color: rgb(255, 0, 76);">About Physiotherapy
                        </h3>
                        <hr style="border-top: 1px solid rgb(255, 0, 76);">
                        <p>Physiotherapy is a health care profession with an emphasis on the use of physical
                            approaches for the promotion of health and the prevention, treatment and management
                            of disease and disability. It is the fourth largest health care profession in the
                            world and addresses problems with movement, dysfunction and pain. These can arise
                            from Musculoskeletal, neurological, respiratory, and chronic disability conditions,
                            or from mental illness and intellectual impairment.</p>
                        <p>The physiotherapy team are an integral part of the clinical body and form part of the
                            support team for our consultants. This means they use the latest research and
                            evidence based methods of treatment in their clinical practice. Physiotherapists
                            have regular opportunities to discuss cases with consultants, whether for an
                            individual who is being treated in conjunction with a surgeon or simply for input
                            with patients receiving outpatient treatment.
                        </p>
                        <p>Currently there are over 28 physiotherapists, 3 physiotherapy assistants providing
                            physiotherapy services for patients in Ganga Hospital. The physiotherapy service
                            encompasses an inpatient and outpatient service for all patients referred to the
                            physiotherapy.</p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>